torch==1.9.0+cu102
pywin32==301
dgl==0.6.1
networkx==2.6.2
numpy==1.21.1
tornado==6.1
matplotlib==3.4.2
brotli==1.0.9
cryptography==3.4.8
Cython==0.29.24
docutils==0.17.1
importlib_metadata==4.8.1
keyring==23.1.0
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
ordereddict==1.1
protobuf==3.17.3
pygraphviz==1.7
